<div class="face-snap-card">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <button (click)="onViewFaceSnap()">VIEW</button>
</div>


  <!-- @if (faceSnap.location) {
    <p>Localisation : {{ faceSnap.location }}</p>
  } @else {
    <p>Localisation non spécifiée</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le : {{ faceSnap.createdAt | date: 'dd/MM/yyyy, à HH:mm' }}</p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps +',0)' }">Snaps: {{ faceSnap.snaps }}</span>
  </p> -->